<!doctype html>
<html lang="en">
    <head> </head>
    <body bgcolor="#f5f5f5">
        <div
            class="container"
            style="
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                height: 100vh;
                position: relative;
                padding: 5px;
            "
        >
            <div>
                <img src="assets/img/logo.png" alt="" width="150px" />
                <h1 style="font-size: 40px; width: 100%; text-align: center">
                    Hello.
                </h1>
                <p>
                    No need to worry, you can reset your Aroma password by
                    clicking the link below:
                </p>
                <span>Reset <a href="<%= link %>">password</a></span>
                <p>
                    If you didn't request a password reset, feel free to delete
                    this email and carry on shopping !
                </p>
                <p>All the best,</p>
                <p>The Aroma Team</p>
            </div>
        </div>
    </body>
</html>
